#leftimg{
    width: 100%;
    height: auto;
    max-height: 725px;
    object-fit: contain;
}

#tabsec{
    align-items: center;
}

#imgside{
    object-fit: contain;
}

.cards{
    height: 250px;
    width: 150px;
    border-radius: 10px;
    background-color: honeydew;
    display: flex;
    justify-content: center;
    align-items: center;
}