#phoneimg {
  object-fit: cover;
  width: 450px;
  height: auto;
  max-height: 800px;
  align-self: center;
}

#header {
  max-height: 500px;
}

#onblk {
  color: white;
}

#blkbx {
  background-color: black;
  max-height: 870px;
}

.maxht{
    max-height: 870px;
}

@media only screen and (max-width: 790px) {
  #phoneimg{
    visibility:collapse;
    max-height: 10px;
  }
  #headbtn{
    padding: 15px 0px 15px 0px;
  }
}